html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background-color: black;
}

    /*navigation bar*/
.portfolio{
    color: white;
}
.navigation ul{
    flex: 1;
    text-align: right;
    padding-right: 2%;
}
.navigation ul li{
    list-style: none;
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
}

.active_nav {
    background-color: #ff4757;
    border-radius: 10px;
    padding: 8px;
}
.navigation ul li:nth-child(1) a{
    color: white;
}

.navigation ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font: 20px 'Ubuntu', sans-serif;
    padding: 8px;
    transition: 0.6s ease;
    border-radius: 10px;
}
.navigation ul li a:hover{
    background-color: #ff4757;
    color: white;
}
.portfolio{
    color: white;
    padding: 10px;
    margin: 8px;
    font-size: 55px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5%;
}
.portfolio span{
    color: #ff4757;
}
